<div class="box tabular settings">
  <p>
    <label for="settings_enabled"><%= l(:wiki_tiptap_enabled) %></label>
    <%= hidden_field_tag 'settings[enabled]', '0' %>
    <%= check_box_tag 'settings[enabled]', '1', @settings['enabled'] != '0', id: 'settings_enabled' %>
  </p>
</div>
